@model List<WebReserva.ViewModels.SectionRoomViewModel>

@if (Model.Any())
{
    <section class="section-room bg-white">
        <div class="container">
            <div class="room-wrap-6">
                @foreach (var item in Model)
                {
                    <div class="room_item-6" data-background="@item.Img01">
                        <div class="text">
                            @if (item.QuantidadeDiasPesquisados == item.QuantidadeDiasRetornados)
                            {
                                <h2>@item.Nome</h2>
                                <span class="price">Valor aproximado: <span class="amout">R$@item.ValorDiariaTotal</span></span>
                            }
                            else
                            {
                                <h2 class="txt-white">@item.Nome</h2>
                            }
                            <p>@item.Descricao</p>
                            <ul>
                                @if (string.IsNullOrEmpty(item.DestaqueTitulo))
                                {
                                    <li>@item.DestaqueTitulo</li>
                                }
                                @if (string.IsNullOrEmpty(item.OpcionalTitulo01))
                                {
                                    <li>@item.OpcionalTitulo01</li>
                                }
                                @if (string.IsNullOrEmpty(item.OpcionalTitulo02))
                                {
                                    <li>@item.OpcionalTitulo02</li>
                                }
                                @if (string.IsNullOrEmpty(item.OpcionalTitulo03))
                                {
                                    <li>@item.OpcionalTitulo03</li>
                                }
                            </ul>
                            @if (item.QuantidadeDiasPesquisados == item.QuantidadeDiasRetornados)
                            {
                                var checkin = Request.QueryString["checkin"];
                                var checkout = Request.QueryString["checkout"];
                                var adultos = Request.QueryString["adultos"];
                                var criancas = Request.QueryString["criancas"];

                                <form action="@Url.Action("Acomodacao", "Detalhes", new { id = item.RoomId })" method="POST">
                                    <input type="hidden" name="RoomId" value="@item.RoomId">
                                    <input type="hidden" name="CheckIn" value="@checkin">
                                    <input type="hidden" name="CheckOut" value="@checkout">
                                    <input type="hidden" name="Adultos" value="@adultos">
                                    <input type="hidden" name="Criancas" value="@criancas">
                                    <input type="hidden" name="ValorDiariaTotal" value="@item.ValorDiariaTotal">
                                    <input type="submit" class="awe-btn awe-btn-13" value="Detalhes">
                                </form>
                            }
                            else
                            {
                                if (item.DatasDisponiveis.Count() > 0)
                                {
                                    <p class="p-indisponivel">
                                        Indisponível para o período selecionado.
                                        <br>
                                        <span class="txt-white">Alternativa(s):</span>
                                        @foreach (var data in item.DatasDisponiveis)
                                        {
                                            <text>@data.ToString("dd/MM")</text>
                                        }
                                    </p>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
else
{
    <section class="section-room bg-white">
        <div class="container">
            <div class="room-wrap-6">
                <h2>Período indisponível!</h2>
            </div>
        </div>
    </section>
}